<!DOCTYPE html>
<html>
<head>
  <title>Delete Note</title>
</head>
<body>
  <h1>Delete Note</h1>
  <p>Select the notes you want to delete:</p>
  <form method="POST" action="/notes/delete">
    <% notes.forEach((note) => { %>
      <label>
        <input type="checkbox" name="noteId" value="<%= note._id %>">
        <%= note.title %>
      </label>
      <br>
    <% }) %>
    <input type="submit" value="Delete">
  </form>
  <form method="GET" action="/notes">
    <button type="submit">Cancel</button>
  </form>
</body>
</html>
